<html>
    <head>
        <title>Creating or Adding new parts listing</title>
    </head>
    <body>
        <div class='form'>
            <form method='POST' action=''>
                {{ case_form.hidden_tag() }}
                <h2>Computer Case</h2>
                {{ case_form.keyType.label }} {{ case_form.keyType }}
                <br>
                {{ case_form.make.label }} {{ case_form.make }}
                <br>
                {{ case_form.model.label }} {{ case_form.model }}
                <br>
                <button id="submit">Submit</button>
            </form>
           
        </div>
    </body>
</html>