<html>
    <head>
        <title>Creating or Adding new parts listing</title>
    </head>
    <body>
        <div class='form'>
            <form method='POST' action=''>
                {{ motherboard_form.hidden_tag() }}
                <h2>Motherboard Specifications</h2>
                {{ motherboard_form.build_name.label }}{{ motherboard_form.build_name }}
                <br>
                {{ motherboard_form.keyType.label }} {{ motherboard_form.keyType }}
                <br>
                {{ motherboard_form.make.label }} {{ motherboard_form.make }}
                <br>
                {{ motherboard_form.model.label }} {{ motherboard_form.model }}
                <br>
                {{ motherboard_form.series.label }} {{ motherboard_form.series }}
                <br>
                {{ motherboard_form.submit}} 
                <br>
                {{message}}
            </form>
           
        </div>
    </body>
</html>
<a href="{{url_for('add')}}"> <h2>Build Home</h2></a>
<a href="{{url_for('update')}}"> <h2>Update Home</h2></a>
