<html>
    <head>
        <title>Deleting parts listing</title>
    </head>
    <body>
        <div class='form'>
            <form method='POST' action=''>
                {{ delete_form.hidden_tag() }}
                <h2>Delete</h2>
                {{ delete_form.build_name.label }} {{ delete_form.build_name }}
                {{ delete_form.section.label }} {{ delete_form.section }}
                <br>
                {{ delete_form.submit }}
                {{ message }}
            </form>

        </div>
    </body>
</html>
<h2>Steps for deleting a build:</h2>
<p>1.You can delete a build and it's associated parts by entering its name above!</p> 
<p>2.To delete an individual part select it from the field.</p> 
<a href="{{url_for('read')}}"> <h2>Read Functions</h2></a>
